/* LandingPage.css */
.landing-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/image/background-img.jpeg");
  background-size: cover;
}

.content {
  z-index: 1; /* Ensure content is above background image */
  text-align: center;
  color: black;
}

.buttons {
  margin-top: 20px;
}

.login-button,
.register-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.login-button:hover,
.register-button:hover {
  background-color: #0056b3;
}
